<?xml version="1.0"?>
<!--
/**
 * @author NuLogic Team
 * @package Nulogic_PopupLogin
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:framework:Acl/etc/acl.xsd">
    <acl>
        <resources>
            <resource id="Magento_Backend::admin">
                <resource id="Nulogic_Base::nulogic" title="NuLogic" sortOrder="10" />
            </resource>
        </resources>
    </acl>
</config>
