<?xml version="1.0"?>
<!--
/**
 * @author NuLogic Team
 * @package Nulogic_Base
 */
-->

<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Backend:etc/menu.xsd">
    <menu>
        <add id="Nulogic_Base::nulogic" title="NuLogic" module="Nulogic_Base" sortOrder="51" resource="Nulogic_Base::nulogic"/>
    </menu>
</config>
